*{
    padding: 0;
    margin: 0;
    font-family:"Poppins";
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(183deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(183deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(183deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}
.sub_container{
    width: 500px;
    height: 300px;
    padding: 10px;
    position: absolute;
    top:47%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#tesla_website_button,#apple_website_button{
    width: 300px;
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.737);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.header{
    text-align: center;
    font-size: 1.5rem;
    background: transparent;
    backdrop-filter: none;
    margin: 30px; 
    color: white;
    font-weight: bold;
}
@media(min-width:768px){
    #tesla_website_button:hover,#apple_website_button:hover{
        background-color: white;
        transform: scale(1.1);
    }
}
@media(max-width:768px){
    .sub_container{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #tesla_website_button,#apple_website_button{
        width: 250px;
        margin: 10px 0px;
    }
    
}