*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(238,174,202);
background: -moz-linear-gradient(171deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-linear-gradient(171deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: linear-gradient(171deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
.sub_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 500px;
    height: 400px;
    border-radius:10px ;
}
.header{
    text-align: center;
    margin: 5%;
    font-size: 2rem;
}
.sub_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Username_box,.password_box{
    width: 250px;
    height: 40px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    padding-left: 10px;
    transition: all 1s;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
.Username_box::placeholder,.password_box::placeholder{
    font-size: 1.2rem;
    color: white;
    
}
.Forgot_pass{
    color: darkcyan;
    width: 250px;
    text-align: left;
    margin: 10px 0;
    font-size: 0.8rem;
}
.login_button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: 10px 0px;
    transition: all 1s;
}
.not_mem{
    margin: 10px 0px;
    text-align: center;
}
.Username_box:hover,.password_box:hover{
    background-color: blueviolet;
    
}
.Username_box:focus,.password_box:focus{
    background-color: gold;
    transform: scale(1.1);
}
.login_button:hover{
    background-color: goldenrod;
    color: white;
    transform: scale(1.1);
}