*{
    padding: 0;
    margin: 0;
    font-family:"Poppins";
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: #121212;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
}
.sub_container{
    width: 500px;
    padding: 10px;
    position: absolute;
    top:47%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(64, 64, 64, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button_container{
    padding-bottom: 20px;
}
#internal_mark_cal_butt,#stone_paper_scissor_butt,#calculator_butt,#currency_conv_butt,#website_button,#yucii_page_butt{
    width: 300px;
    font-size: 1.2rem;
    margin: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.737);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.header{
    text-align: center;
    font-size: 1.5rem;
    background: transparent;
    backdrop-filter: none;
    margin: 30px; 
    color: white;
    font-weight: bold;
    
}
.sub_container{
    animation-name: container_ani;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.button_container{
    animation-name: button_ani;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.header{
    animation-name: header_ani;
    animation-duration: 5.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/*animation*/
@keyframes header_ani{
    0%{
        transform: translate(400%,400%);
    }
    100%{
        transform: none;
        text-shadow: 0 0 10px #fcfcfc, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #fffeff;
    }
}
@keyframes button_ani{
    0%{
        transform: translate(-400%,-400%);
    }
    100%{
        transform: none;
    }
}
@keyframes container_ani {
    from{
        transform: translate(100%,100%);
        
    }
    to{
        transform: translate(-50%,-50%);
        box-shadow: 0 0 20px gold, 0 0 40px gold, 0 0 60px gold, 0 0 80px gold;
    }
    
}
@media(min-width:768px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .button_container{
        z-index: 10;
    }
    #internal_mark_cal_butt:hover,#stone_paper_scissor_butt:hover,#calculator_butt:hover,#currency_conv_butt:hover,#website_button:hover,#yucii_page_butt:hover{
        transform:scale(1.2);
        box-shadow: 0 0 20px gold, 0 0 40px gold, 0 0 60px gold, 0 0 80px gold;
        background-color: white;
        
    }
}
@media(max-width:768px){
    .sub_container{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #internal_mark_cal_butt,#stone_paper_scissor_butt,#calculator_butt,#currency_conv_butt,#website_button,#yucii_page_butt{
        width: 250px;
        
    }
}