*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}
body{
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
.header{
    text-align: center;
    font-size: 2rem;
    margin: 10px 0;
    font-weight: bold;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 500px;
    border-radius: 10px;
    background: rgb(56,56,56);
    background: -moz-linear-gradient(180deg, rgba(56,56,56,1) 3%, rgba(125,125,125,1) 56%, rgba(56,56,56,1) 86%);
    background: -webkit-linear-gradient(180deg, rgba(56,56,56,1) 3%, rgba(125,125,125,1) 56%, rgba(56,56,56,1) 86%);
    background: linear-gradient(180deg, rgba(56,56,56,1) 3%, rgba(125,125,125,1) 56%, rgba(56,56,56,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838",endColorstr="#383838",GradientType=1);
}
.displayer_container{
    width: 400px;
    height: 100px;
    background-color: #d1d1d1;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;    
}
.displayer{
    width: 380px;
    height: 70px;
    background-color: #E2FDFF;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
}
.displayer p{
    font-size: 2rem;
    text-align: right;

}
#clear_button{
    text-align: right;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.buttons_container{
    display: flex;
    flex-direction: row; 
}
.numbers_container{
    width: 294px;
    height: 370px;
    margin: 10px 10px;
    margin-top: 0px;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding-top:2.5%;
    padding-left: 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(4, 22.5%);
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 4 / 1 / 5 / 2; }
.div11 { grid-area: 4 / 2 / 5 / 3; }
.div12 { grid-area: 4 / 3 / 5 / 4; }
.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12{
    background-color: #cbc7b7;
    border-radius: 50%;
    text-align: center;
    padding: 25%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
.div12{
    background-color: white;
}
.operations_container{
    width: 96px;
    margin-right: 10px;
    height: 370px;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding-top:2.5%;
    padding-left: 2.5%;
    display: grid;
    grid-template-columns: repeat(1, 94%);
    grid-template-rows: repeat(4, 22.5%);
    grid-row-gap: 2.5%;
}    
.div20 { grid-area: 1 / 1 / 2 / 2; }
.div21 { grid-area: 2 / 1 / 3 / 2; }
.div22 { grid-area: 3 / 1 / 4 / 2; }
.div23 { grid-area: 4 / 1 / 5 / 2; }
.div20,.div21,.div22,.div23{
    background-color: #B0B7C0;
    border-radius: 50%;
    text-align: center;
    padding: 25%;
    font-size:2rem;
    cursor: pointer;
    transition: all 0.3s;
}

@media(min-width : 768px){
    .div20:hover,.div21:hover,.div22:hover,.div23:hover,.div1:hover,.div2:hover,.div3:hover,.div4:hover,.div5:hover,.div6:hover,.div7:hover,.div8:hover,.div9:hover,.div10:hover,.div11:hover{
        transform: scale(1.1);
        color: white;
    }
    .div12:hover{
        background-color: black;
        color: white;
    }
    #clear_button:hover{
        color: red;
    }

}
@media(max-width:768px){
    .container{
        width: 320px;
    }
    .displayer_container{
        width: 300px;
    }
    .displayer{
        width: 280px;
    }
    .numbers_container{
        width: 194px;
    }
    .operations_container{
        width: 86px;
    }
    .div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12{
        padding: 40%;
    }
}